.account-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5rem;
    button{
        background-color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        color: #5f6368;
        opacity: 0.6;
        height: 2.5rem;
        width: 2.5rem;
    }
    button:hover{
        background-color: rgba(197, 197, 197, 0.4);
        transition: 0.2s ease-in-out;
    }
}