.notes{
    margin-left: 5rem;
    margin-top: 2rem;
    max-width: 90vw;

    .notes-list{
        height: 100%;  
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px 40px;
    }
}