.notes-card {
  width: 100%;
  height: max-content;
  border-radius: 10px;
  border: 1px solid #c5c5c5;
  padding: 12px 12px 4px 12px;
  // white-space: nowrap;

  label {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pair {
    display: flex;
    justify-content: space-between;
    button {
      visibility: hidden;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      height: 32px;
      width: 34px;
      padding: 5px;
    }
  }
  .note-buttons {
    margin-top: 2rem;
    visibility: hidden;
    margin-right: 0;
  }
  label {
    word-break: break-all;
  }
}

.notes-card {
  .pair {
    button:hover {
      background-color: #c5c5c5;
      transition: 0.2s ease-in-out;
    }
  }
}

.notes-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  .pair {
    button {
      visibility: visible;
      transition: 0.2s ease-in-out;
    }
  }
  .note-buttons {
    visibility: visible;
    transition: 0.2s ease-in-out;
  }
}
